<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
</head>
<body>

<h2> Looks like you Chose Cmaj!</h2>
<h4> Select from basic chords!</h4>


<div>
    <form action="" method="post">
        <select>
            <option>Select a Chord!</option>
            <option>C</option>
            <option>G</option>
            <option>F</option>
            <option>Am</option>
            <option>Dm</option>
        </select>
        <input type="hidden" name="key" value="C" />
        <input type="submit" name="submit" value="Submit" />
        <input type="reset" name="reset" value="Reset" />
    </form>
</div>

<!--<button type="button" class="btn btn-primary btn-lg btn-block">Put it in map</button>-->

<!--<div class="row">-->
    <!--<select>-->
        <!--<option>Select a Chord!</option>-->
        <!--<option>C</option>-->
        <!--<option>G</option>-->
        <!--<option>F</option>-->
        <!--<option>Am</option>-->
        <!--<option>Dm</option>-->
    <!--</select>-->

    <!--<button type="button" class="btn btn-primary btn-lg btn-block">Put it in map</button>-->
<!--</div>-->
<div class="text-center">
    <h1 class="text-center"> Chord Chart</h1>

    <div>

        <table class="table table-striped table-bordered table-hover">

            <tr>
                <td>C     |</td>
                <td>Am    |</td>
                <td>Dm    |</td>
                <td>G     |</td>
            </tr>
        </table>
    </div>
</div>


</body>
</html>
