<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>WWJP? Assisted Songwriting and Practice Tools! </title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Custom CSS -->
    <link href="css/landing-page.css" rel="stylesheet"/>

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css"/>

        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <script type="text/javascript"></script>
</head>

<body>
<h1> Howdy!  Let's build a song!</h1>
<h3>  We need a Key to Start!</h3>

<form action="/keyurl" method="post">

<select name="keyhttpparam">
    <option>Select a Key!</option>
    <option value="C">C</option>
    <option value="Db">Db</option>
    <option value="D">D</option>
    <option value="Eb">Eb</option>
    <option value="E">E</option>
    <option value="F">F</option>
    <option value="F#">F#</option>
    <option value="G">G</option>
    <option value="Ab">Ab</option>
    <option value="A">A</option>
    <option value="Bb">Bb</option>
    <option value="B">B</option>

</select>
    <input type="submit" value="Submit"/>
</form>



















</body>

</html>
