<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8"/>
    <title>WWJP? Assisted Songwriting and Practice Tools! </title>

    <script src="/js/jquery.js"></script>
    <script src="/js/wwjd.js"></script>
</head>

<body>

<h2>This is Your song in <span th:text="${key}"></span></h2>

Pick next Chord from List :
<form action="/song" id="formId" method="post">
    <input type="hidden" name="key" th:value="${key}"/>
    <select name="chord">
        <option value="#">Select a chord</option>
        <option th:each="chords : ${chords}"
                th:value="${chords}"
                th:text="${chords}"></option>
    </select>
    <br />
    <input type="checkbox" name="songChords"
           th:each="songChord : ${songChords}"
           th:text="${songChord} + ' | '"
           th:value="${songChord}"
           checked="checked"/><br/>
    <br/>
    <input type="submit" value="Add list Chord"/>
    <br/>
</form>
<button id="addJimiId">Add Jimi Chord</button>


</body>
</html>
